%h4
  a poem
%p
  i am about 
  %a{ :href => play_blips_path }
    blips.  
%p
  and
  %a{ :href => play_blops_path }
    blops.  
%p
  and those kind of things.  
%p
  i think.
%p
  maybe.
%p
  most likely.

%p
  &nbsp;
  
%h4
  a speech
%p
  the 
  %a{ :href => 'http://wardspics.com' }
    man behind me 
  is really more into 
  %a{ :href => 'http://github.com/wwvuillemot/blippity' }
    tech-demos, 
  whatever those are.
%p
  he promises me that eventually he will take me more seriously than just a hobby.
%p
  sort of like steve j. et al. and that fruit tv thing they have going on down in cali.
%p
  but in the meantime, you might just find in me a 
  %a{ :href => play_path}
    few games, 
  as it were.