%p
  i am about 
  %a{ :href => play_blips_path }
    blips.  
%p
  and
  %a{ :href => play_blops_path }
    blops.  
%p
  and those kind of things.  
%p
  i think.
%p
  maybe.
%p
  most likely.
%p
  the 
  %a{ :href => 'http://wardspics.com' }
    man behind me 
  is really more in 
  %a{ :href => 'http://github.com/wwvuillemot/blippity' }
    tech-demos, 
  whatever those are.
%p
  but you might just find in me a few games, as it were.