-if current_user
  %p
    hi, 
    %b
      #{current_user.display_name}.
  %p
    wanna
    %a{ :href => play_path }
      play?
-else
  %p
    hi. i'm blippity.
  %p
    and
    %a{:href => user_omniauth_authorize_path(:facebook)}
      you?
