:javascript
  var blopManager;
  $(document).ready( function() {
    var maxNumberOfBlipsAtATime = jQuery.browser.mobile ? 20 : 40;
    var domNodeParent    = '#wrap';
    blopManager = new BlipManager(maxNumberOfBlipsAtATime, domNodeParent);
    $('#gamePlayPause').bind('click', function(){
      blopManager.toggle();
    });
    $('body').keyup(function(e){
      // alert(e.keyCode);
      if(e.keyCode == 72){
        $('#helpModal').modal('toggle');
      }
    });    
  });
#scoreboard
  .points
    %b
      score
    %span#score
    %b
      wrong
    %span#wrong
    %b
      right
    %span#right
    .hide
      %b
        pairs
      %span#total
      %b
        bonus
      %span#bonus
      
#dash.pull-right
  #controls
    %span#erase
      %i.icon-remove-sign
      try again
    %span#next
      %i.icon-circle-arrow-right
      next
  #miscellaneous
    %span#help{ :href => '#helpModal', :role => :button, :data => { :toggle => :modal} }
      %i.icon-question-sign
      help

      
#blops.hide
  #question
  #answer
  #status
    &nbsp;

#levels.hide
  %h2 Levels
  -@levels.each do |level|
    .level{:data => { :level => "#{level.level}" } }
      .number{:data => { :level => "#{level.level}" } }
        =level.level
      .title
        =level.title

#helpModal.modal.hide.fade{ :tabindex => -1, :role => :dialog, :aria => { :labelledBy => :helpModelLabel, :hidden => :true} }
  .modal-header
    %button.close{ :data => { :dismiss => :modal }, :aria => { :hidden => true } }
      %i.icon-remove
    %h3#myModalHelp
      blop help
  .modal-body

    %h4
      goal
    %p
      i will give you a word.
    %p
      you figure out the other word.
    %p
      i will always give you a hint, one letter at a time.  as you get better, i get more recalcitrant, as it were.

    %h4
      %i.icon-play-sign 
      play,
      %i.icon-pause
      pause
    %p
      %b
        click 
      on them at the top of the window to start and stop our game whenever you like.
    %p
      or press
      %b
        spacebar

    %h4
      %i.icon-remove-sign
      try again
    %p
      make a mistake?
      
    %h4
      %i.icon-circle-arrow-right
      next  
    %p
      give up?  of course you won't ... but if you do.
    %p
      or press your keyboard's 
      %b
        right arrow
        
    %h4
      %i.icon-question-sign
      help
    %p
      press
      %b
        h
      to open and close this help screen.
    %p
      sort of a self-referencing kind of thing.  i like being canonical.  you?
              
  .modal-footer
    %button.btn{ :data => { :dismiss => :modal }, :aria => { :hidden => :true } }
      close