.cocos{ :style => "display:inline-block;width:auto; margin: 0 auto; background: black; border:5px solid black; border-radius: 10px; box-shadow: 0 5px 50px #333"}
  %canvas#gameCanvas{ :width => 800,  :height => 450 }
  

%script{ :src => '/cocos/cocos.js',  :type => 'text/javascript' }