%h1
  ghost
%p
  %a{ :href => 'http://www.raywenderlich.com/32970/how-to-make-a-cross-platform-game-with-cocos2d-javascript-tutorial-getting-started'}
    reference

%p

  .ghost{ :style => "display:inline-block;width:auto; margin: 0 auto; background: white; border:5px solid black; border-radius: 5px; box-shadow: 0 5px 50px #333"}
    %canvas#gameCanvas{ :width => 800,  :height => 450 }  

%script{ :src => '/ghost/ghost.js',  :type => 'text/javascript' }

