:javascript
  var blipManager;
  $(document).ready( function() {
    var maxNumberOfBlipsAtATime = jQuery.browser.mobile ? 20 : 100;
    var domNodeParent    = '#wrap';
    blipManager = new BlipManager(maxNumberOfBlipsAtATime, domNodeParent);
    $('#blipManager').bind('click', function(){
      if(blipManager.isRunning()){
        blipManager.pause();
      } else {
        blipManager.resume();      
      }
    });
    blipManager.init();
  });
#scoreboard
  .points
    %b
      Score:
    %span#score
    %b
      Wrong:
    %span#wrong
    %b
      Right:
    %span#right
    %b
      Total:
    %span#total
#controls.pull-right
  %span#erase
    %i.icon-remove-sign
    clear
  %span#next
    %i.icon-circle-arrow-right
    next
#question
#answer
#status
  &nbsp;
