:javascript
  var blipManager;
  $(document).ready( function() {
    var maxNumberOfBlipsAtATime = jQuery.browser.mobile ? 20 : 40;
    var domNodeParent    = '#wrap';
    blipManager = new BlipManager(maxNumberOfBlipsAtATime, domNodeParent);
    $('#blipManager').bind('click', function(){
      blipManager.toggle();
    });
  });
#scoreboard

  .points
    %b
      Level
      %level#level
    %b
      Score
    %span#score
    %b
      Wrong
    %span#wrong
    %b
      Right
    %span#right
    %b
      Total
    %span#total
    %b.hide
      Bonus
    %span#bonus
#controls.pull-right
  %span#erase
    %i.icon-remove-sign
    clear
  %span#next
    %i.icon-circle-arrow-right
    next
#blips.hide
  #question
  #answer
  #status
    &nbsp;
#levels.hide
  %h2 Level
  .level{:data => { :level => 1 }}
    1
  .level{:data => { :level => 2 }}
    2