#games
  .game
    %a{ :href => play_blips_path }
      %h1 blips
    %p
      coming soon.
  .game
    %a{ :href => play_blops_path }
      %h1 blops
    %p
      like blops?  me, too.
  .game
    %a{ :href => play_cocos_path }
      %h1 cocos
    %p
      coo coo for cocos? yep.
  