.blop{
  position: fixed;
  width: 30px;
  height: 30px;
  line-height: 100%;
  font-size: 100%;
  border-radius: 50%;
  opacity: 0.8;
  display: block;
  z-index: 300;
  text-align: center;
  color: #555;
  font-size: 2.5em;
  cursor: pointer;
  padding: 0px;
}
.level1, .number[data-level="1"]{
  background-color: darkorange;
  box-shadow: 0px 0px 10px darkorange;
  color: #fff;
}
.level2, .number[data-level="2"]{
  background-color: darkblue;
  box-shadow: 0px 0px 10px darkblue;
  color: #fff;
}
.level3, .number[data-level="3"]{
  background-color: purple;
  box-shadow: 0px 0px 10px purple;
  color: #fff;
}
.hovered{
  background-color: goldenrod;
  box-shadow: 0px 0px 10px goldenrod;  
}
.clicked
{
  background-color: goldenrod;
  box-shadow: 0px 0px 10px goldenrod;
}
.wrong
{
  background-color: darkred;
  box-shadow: 0px 0px 10px darkred;
  color: #fff;
}
.right
{
  background-color: darkgreen;
  box-shadow: 0px 0px 10px darkgreen;
  color: #fff;
}