#question{
  font-size: 2.0em;
  color: #333;
  line-height: 2.0em;
}
#answer{
  font-size: 2.0em;
  color: #666;
  line-height: 2.0em;
  
}
#scoreboard{
  margin: 0px 0px 20px 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
}
#dash{
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #aaa;
  span:hover{
   color: #000; 
  }
}
#level{
  font-size: 18px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 10px;
}
.points{
  b, #total{
    color: #aaa;
  }
  span{
    font-size: 2.2em;
    margin-right: 20px;
    margin-left: 3px;
    margin-bottom: -5px;
    display: inline-block;
  }
}
#levels{
  .level{
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    float: left;
    width: 200px;
    height: 200px;
    line-height: 160px;
    cursor: pointer;
    .title{
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width: 380px) {
      width: 128px;
      height: 128px;
      line-height: 105px;
      .title{
        font-size: 12px;
        line-height: 20px;
      }
    }
    font-size: 1.8em;
    .number{
      font-weight: bold;
      width: 60px;
      line-height: 60px;
      height: 60px;
      margin: 50px 70px 50px 70px;

    }
    &:hover{
      background-color: #eee;
      box-shadow: 0px 0px 10px #ccc;   
      .number{
        border: 1px solid #666;
        border-radius: 50%;
        background: #666;
        color: #fff;
        margin-bottom: 48px;
      }
      .title{
        color: #666;
      }
    }

  }
  .selected{
    background-color: #eee;   
    box-shadow: 0px 0px 10px #ccc;   
    .number{
      border: 1px solid #333;
      border-radius: 50%;
      background: #333;
      color: #fff;
      margin-bottom: 48px;
    }
  }
}