.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar.collapsed{ :type => :button, :data => { :toggle => :collapse, :target => ".nav-collapse" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path}
        blippity
      .nav-collapse.collapse
        %ul.nav
          %li{:class => (params[:controller] == 'pages' && params[:action] == 'index' ? 'active' : nil)}
            %a{:href => root_path}
              welcome
          %li{:class => (params[:controller] == 'pages' && params[:action] == 'about' ? 'active' : nil)}
            %a{:href => about_path}
              about
          -if current_user
            %li{:class => (params[:controller] == 'play' ? 'active' : nil)}
              %a{:href => play_path}
                play
            %li
              %a{ :href => edit_user_registration_path(current_user) }
                =current_user.display_name
                -image_tag current_user.image_url
            %li
              %a{ :href => destroy_user_session_path, :data => { :method => :delete} }
                %i.icon-signout
          -else
            %li
              %a{:href => user_omniauth_authorize_path(:facebook)}
                %i.icon-facebook-sign